.wrapper {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa; 
    padding: 20px; 
    position: fixed; 
    height: 100%; 
}

.content {
    width: 100%;
    margin-left: 250px; 
    padding: 20px; 
}

@media (max-width: 768px) {
    .content {
        margin-left: 0; 
    }
}